<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title
          >All Orders
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
        </v-card-title>
        <v-card-text>
          <v-data-table :headers="headers" :items="orders" :search="search">
            <template v-slot:item.total="{ item }">
              <span class="font-weight-bold">{{ item.total.toFixed(2) }}</span>
            </template>
            <template v-slot:item.products="{ item }">
              <v-btn
                small
                @click="diaplayProducts(item.products)"
                color="orange"
                >View Products</v-btn
              >
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </v-container>
    <OrderDisplay
      @dialogClosed="dialogClosed"
      :dialog="dialog"
      :products="products"
    />
  </div>
</template>

<script>
import OrderApi from "../api/orders";
import OrderDisplay from "../components/OrderDisplay";

export default {
  data() {
    return {
      headers: [
        { text: "Order ID", value: "_id" },
        { text: "Customer Name", value: "name" },
        { text: "Customer Email", value: "email" },
        { text: "Products", value: "products" },
        { text: "Total", value: "total" },
      ],
      orders: [],
      search: "",
      products: [],
      dialog: false,
    };
  },
  components: {
    OrderDisplay,
  },
  methods: {
    getOrders() {
      OrderApi.get("/get/all", {
        headers: {
          Authorization: `Bearer ${this.$store.getters.adminToken}`,
        },
      })
        .then((response) => {
          console.log(response.data);
          this.orders = response.data;
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    diaplayProducts(products) {
      this.$set(this.$data, "products", products);
      this.$set(this.$data, "dialog", true);
    },
    dialogClosed() {
      this.$set(this.$data, "products", []);
      this.$set(this.$data, "dialog", false);
    },
  },
  mounted() {
    this.getOrders();
  },
};
</script>
