<template>
  <div>
    <v-container>
      <v-col cols="12" md="8" class="mx-auto">
        <v-card>
          <v-card-title>
            <v-spacer></v-spacer>
            <span class="title">Admin Login</span>
            <v-spacer></v-spacer>
          </v-card-title>
          <v-card-text>
            <v-form ref="form" v-model="valid">
              <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
              ></v-text-field>
              <v-text-field
                v-model="password"
                :counter="10"
                :rules="passwordRules"
                label="Password"
                type="password"
                required
              ></v-text-field>
              <div class="text-center">
                <v-btn :disabled="!valid" color="orange" @click="validateLogin">
                  Login
                </v-btn>
              </div>
            </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import AdminApi from "../api/admin";

export default {
  data() {
    return {
      valid: false,
      password: "",
      email: "",
      passwordRules: [(v) => !!v || "Password is required"],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
    };
  },
  methods: {
    validateLogin() {
      AdminApi.post("/login", {
        email: this.email,
        password: this.password,
      })
        .then((response) => {
          const { token } = response.data;
          this.$store.commit("SET_ADMIN_LOGIN_STATE", true);
          this.$store.commit("SET_ADMIN_TOKEN", token);
          this.$router.push("/admin/dashboard");
        })
        .catch((error) => {
          console.log(error.response);
          alert("Email ID/Password is incorrect");
        });
    },
  },
};
</script>
