<template>
  <div>
    <v-container>
      <v-card>
        <v-card-title class="title">Cart</v-card-title>
        <v-card-text>
          <v-data-table
            :loading="isDataLoading"
            hide-default-footer
            :headers="cartHeaders"
            :items="cartItems"
            item-key="cart-items"
          >
            <template v-slot:item.avatar="{ item }">
              <v-avatar tile>
                <v-img :src="getImage(item.image)"></v-img>
              </v-avatar>
            </template>
            <template v-slot:item.price="{ item }">
              <span class="font-weight-bold"
                >&#8377;{{ item.price.toFixed(2) }}</span
              >
            </template>
            <template v-slot:item.action="{ item }">
              <v-btn @click="removeProduct(item._id)" icon>
                <v-icon>mdi-delete-circle-outline</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <div class="cart-actions text-right">
            <h3 class="d-block">Total: {{ getTotal }}</h3>
            <v-btn
              :disabled="$store.getters.cartCount === 0"
              class="mt-3"
              to="/checkout"
              color="orange"
              >Proceed to checkout</v-btn
            >
          </div>
        </v-card-actions>
      </v-card>
    </v-container>
  </div>
</template>

<script>
import ProductApi from "../api/products";
export default {
  data() {
    return {
      isDataLoading: true,
      cartHeaders: [
        { text: "Product Image", value: "avatar" },
        { text: "Product Name", value: "name" },
        { text: "Price", value: "price" },
        { text: "", value: "action" },
      ],
      cartItems: [],
    };
  },
  methods: {
    getProducts() {
      const addedProducts = this.$store.getters.addedProducts;
      if (addedProducts.length === 0) {
        this.isDataLoading = false;
        return;
      }
      ProductApi.post("/get/cart", {
        products: addedProducts,
      })
        .then((response) => {
          this.cartItems = response.data;
          this.isDataLoading = false;
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    getImage(image) {
      return `${process.env.VUE_APP_SERVER_URL}/api/products/get/product-image/${image}`;
    },
    removeProduct(productID) {
      const itemIndex = this.cartItems.findIndex((item, index) => {
        return item._id === productID;
      });
      this.cartItems.splice(itemIndex, 1);
      this.$store.commit("REMOVE_CART_ITEM", productID);
    },
  },
  computed: {
    getTotal() {
      let total = 0;
      for (let i = 0; i < this.cartItems.length; i++) {
        const { price } = this.cartItems[i];
        total = total + price;
      }
      return total.toFixed(2);
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>
