<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-alert icon="mdi-emoticon-happy-outline" prominent type="warning">
            <v-row align="center">
              <v-col class="grow">{{ getInfoText }}</v-col>
              <v-col class="shrink">
                <v-btn to="/">View Products</v-btn>
              </v-col>
            </v-row>
          </v-alert>
          <v-card outlined>
            <v-card-title>
              <v-spacer></v-spacer>
              Check Out
              <v-spacer></v-spacer>
            </v-card-title>
            <v-card-text>
              <v-form ref="form" v-model="valid">
                <v-text-field
                  v-model="name"
                  :rules="nameRules"
                  label="Name"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :rules="emailRules"
                  label="E-mail"
                  required
                ></v-text-field>
                <div class="text-center">
                  <v-btn
                    :disabled="!valid"
                    color="orange"
                    class="mr-4"
                    @click="checkout"
                  >
                    Checkout
                  </v-btn>
                </div>
              </v-form>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-overlay :value="isDataLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-dialog v-model="dialog.show" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">{{ dialog.title }}</v-card-title>
        <v-card-text>{{ dialog.text }}</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            v-if="dialog.type === 'success'"
            color="green darken-1"
            text
            @click="$router.push('/')"
            >Ok</v-btn
          >
          <v-btn
            v-if="dialog.type === 'error'"
            color="green darken-1"
            text
            @click="dialog.show = false"
            >Ok</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import OrderApi from "../api/orders";

export default {
  data() {
    return {
      valid: false,
      isDataLoading: false,
      name: "",
      email: "",
      nameRules: [(v) => !!v || "Name is required"],
      emailRules: [
        (v) => !!v || "E-mail is required",
        (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
      ],
      dialog: {
        show: false,
        title: "",
        text: "",
        type: null,
      },
    };
  },
  computed: {
    getInfoText() {
      return `You are about to checkout with just ${this.$store.getters.cartCount} products. Would you like to add more ?`;
    },
  },
  methods: {
    checkout() {
      this.isDataLoading = true;
      if (this.$store.getters.cartCount === 0) {
        this.dialog = {
          show: true,
          title: "Error",
          text: "Add items to the cart to checkout",
          type: "success",
        };
        return;
      }
      const products = this.$store.getters.addedProducts;
      OrderApi.post("/create", {
        productID: products,
        email: this.email,
        name: this.name,
      })
        .then((response) => {
          this.isDataLoading = false;
          this.$store.commit("RESET_CART");
          this.dialog = {
            show: true,
            title: "Order Placed",
            text:
              "Your order has been successfully placed! A confirmation email has been sent to the email id provided",
            type: "success",
          };
          this.name = "";
          this.email = "";
        })
        .catch((error) => {
          this.isDataLoading = false;
          this.dialog = {
            show: true,
            title: "Error",
            text: "Error occured while placing the order. Please try again",
            type: "error",
          };
        });
    },
  },
};
</script>
