<template>
  <div class="home">
    <v-container>
      <Products @productLoaded="productLoaded" />
    </v-container>
    <v-overlay :value="isDataLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import Products from "../components/Products";
import Axios from "axios";

export default {
  name: "Home",
  components: {
    Products,
  },
  data() {
    return {
      isDataLoading: true,
    };
  },
  methods: {
    getProducts() {
      Axios.get();
    },
    productLoaded(status) {
      this.isDataLoading = false;
      if (!status.status) {
        alert("Error while getting the products");
      }
    },
  },
};
</script>
