<template>
  <div>
    <v-container>
      <v-row v-if="!isDataLoading">
        <v-col cols="12" md="5">
          <v-card outlined>
            <v-img class="w-100" :aspect-ratio="1 / 1" :src="imageURL"> </v-img>
          </v-card>
        </v-col>
        <v-col cols="12" md="7">
          <v-card height="100%" outlined>
            <v-card-text>
              <h3 class="title black--text">{{ name }}</h3>
              <p class="subtitle-1">{{ description }}</p>
              <div class="price-details">
                <h3>
                  M.R.P:
                  <span class="strike-through"
                    >&#8377;{{ getPreviousPrice }}</span
                  >
                </h3>
                <h3 class="mt-2">
                  Price: &#8377;{{ getPrice }}
                  <span class="caption ml-2" v-if="getPrice < 799"
                    >FREE Delivery on orders over ₹ 499.00</span
                  >
                </h3>
              </div>
              <div class="why-us">
                <div class="block">
                  <v-icon color="orange" large>mdi-door</v-icon>
                  <p class="subtitle-2">No-Contact Delivery</p>
                </div>
                <div class="block">
                  <v-icon color="orange" large>mdi-reload</v-icon>
                  <p class="subtitle-2">10 Days Returnable</p>
                </div>
                <div class="block">
                  <v-icon color="orange" large
                    >mdi-truck-delivery-outline</v-icon
                  >
                  <p class="subtitle-2">Superfast Delivered</p>
                </div>
                <div class="block">
                  <v-icon color="orange" large>mdi-shield-check-outline</v-icon>
                  <p class="subtitle-2">6 Month Warranty</p>
                </div>
              </div>
              <v-btn
                class="mt-4"
                :disabled="isAdded"
                large
                @click="addToCart"
                color="orange"
                block
                >{{ getButtonText }}</v-btn
              >
              <v-btn
                v-if="isAdded"
                large
                to="/cart"
                class="mt-2 white--text"
                color="#232f3e"
                block
                >Go to cart <v-icon>mdi-arrow-right</v-icon></v-btn
              >
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
    <v-overlay :value="isDataLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </div>
</template>

<script>
import ProductApi from "../api/products";

export default {
  data() {
    return {
      isDataLoading: true,
      name: "",
      image: "",
      description: "",
      price: "",
      isAdded: null,
      id: "",
    };
  },
  methods: {
    getProduct() {
      ProductApi.get(`/get/${this.$route.params.slug}`)
        .then((response) => {
          console.log(response.data);
          const { name, price, image, description, _id: id } = response.data;
          this.name = name;
          this.price = price;
          this.description = description;
          this.id = id;
          this.image = image;
          this.isAdded = this.$store.getters.addedProducts.includes(id)
            ? true
            : false;

          this.isDataLoading = false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    addToCart() {
      this.$store.commit("ADD_TO_CART", this.id);
      this.isAdded = true;
    },
  },
  mounted() {
    this.getProduct();
  },
  computed: {
    imageURL() {
      return `${process.env.VUE_APP_SERVER_URL}/api/products/get/product-image/${this.image}`;
    },
    getPrice() {
      return this.price.toFixed(2);
    },
    getPreviousPrice() {
      return (this.price + Math.floor(Math.random() * 100)).toFixed(2);
    },
    getButtonText() {
      return this.isAdded ? "Added to cart" : "Add to cart";
    },
  },
};
</script>

<style scoped>
.why-us {
  display: flex;
  flex-direction: row;
}
.why-us .block:first-child {
  margin-left: 0;
}
.why-us .block {
  margin: 0 15px;
  text-align: center;
  margin-top: 30px;
}
</style>
