<template>
  <div>
    <v-dialog v-model="dialog" persistent max-width="600">
      <v-card>
        <v-card-title class="headline">Products</v-card-title>
        <v-card-text>
          <v-simple-table>
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left"></th>
                  <th class="text-left">Product Name</th>
                  <th class="text-left">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="product in products" :key="product._id">
                  <td>
                    <v-avatar tile>
                      <v-img :src="getImage(product.productID.image)"></v-img>
                    </v-avatar>
                  </td>
                  <td>{{ product.productID.name }}</td>
                  <td>{{ product.productID.price }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="closeDialog">Ok</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    products: {
      type: Array,
      required: true,
    },
    dialog: {
      type: Boolean,
      required: true,
    },
  },
  methods: {
    getImage(image) {
      return `${process.env.VUE_APP_SERVER_URL}/api/products/get/product-image/${image}`;
    },
    closeDialog() {
      this.$emit("dialogClosed", {});
    },
  },
};
</script>
