<template>
  <v-card class="mx-auto" color="grey lighten-4" height="100%">
    <v-img :aspect-ratio="1 / 1" :src="imageURL"> </v-img>
    <v-card-text class="pt-6" style="position: relative;">
      <v-btn
        @click="addProductToCart"
        absolute
        :disabled="isAdded"
        color="orange"
        class="white--text"
        fab
        right
        top
      >
        <v-icon>mdi-cart</v-icon>
      </v-btn>
      <h3 class="subtitle-1 mb-2">
        <router-link class="orange--text product-name" :to="`/product/${slug}`">
          {{ name }}
        </router-link>
      </h3>
      <span class="subtitle-1 black--text font-weight-bold"
        >&#8377;{{ getPrice }}</span
      >
      <span class="caption ml-2 strike-through"
        >&#8377;{{ getPreviousPrice }}</span
      ><span class="ml-2 subtitle-2">{{
        `Save &#8377;${getPreviousPrice - getPrice}`
      }}</span>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      required: true,
    },
    name: {
      type: String,
      required: true,
    },
    description: {
      type: String,
      required: true,
    },
    price: {
      type: Number,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
    isAdded: {
      type: Boolean,
      required: true,
    },
    slug: {
      type: String,
      required: true,
    },
  },
  computed: {
    imageURL() {
      return `${process.env.VUE_APP_SERVER_URL}/api/products/get/product-image/${this.image}`;
    },
    getPrice() {
      return this.price.toFixed(2);
    },
    getPreviousPrice() {
      return (this.price + Math.floor(Math.random() * 100)).toFixed(2);
    },
  },
  methods: {
    addProductToCart() {
      this.$store.commit("ADD_TO_CART", this.id);
      this.$emit("productAdded", {
        name: `${this.name.slice(
          0,
          this.name.length - this.name.length / 2
        )}...... `,
        id: this.id,
      });
    },
  },
};
</script>

<style scoped>
.v-application a.product-name {
  text-decoration: none;
}
</style>
