<template>
  <div class="product-listing">
    <v-col class="text-center" cols="12">
      <h3 class="display-1 font-weight-bold">
        Products
      </h3>
    </v-col>
    <v-row v-if="products.length > 0">
      <v-col
        v-for="(product, index) in fetchProducts"
        :key="index"
        cols="12"
        md="4"
        xl="3"
      >
        <Product
          @productAdded="productAdded"
          :id="product._id"
          :slug="product.slug"
          :isAdded="product.isAdded"
          :name="product.name"
          :description="product.description"
          :image="product.image"
          :price="product.price"
        />
      </v-col>
    </v-row>
    <v-col v-else cols="12" class="text-center">
      <span class="title">No products available</span>
    </v-col>
  </div>
</template>

<script>
import Product from "./Product";
import ProductApi from "../api/products";

export default {
  data() {
    return {
      products: [],
    };
  },
  components: {
    Product,
  },
  methods: {
    getProducts() {
      ProductApi.get("/get")
        .then((response) => {
          this.products = response.data;
          this.$emit("productLoaded", { status: true });
        })
        .catch((error) => {
          console.log(error.response);
          this.$emit("productLoaded", { status: false });
        });
    },
    productAdded(product) {
      const productIndex = this.products.findIndex((item, index) => {
        return item._id == product.id;
      });
      this.products[productIndex].isAdded = true;
    },
  },
  computed: {
    fetchProducts() {
      const addedProducts = this.$store.getters.addedProducts;
      const productSync = this.products.map((product, index) => {
        if (addedProducts.includes(product._id)) {
          product.isAdded = true;
        } else {
          product.isAdded = false;
        }
        return product;
      });
      return productSync;
    },
  },
  mounted() {
    this.getProducts();
  },
};
</script>
