<template>
  <v-app>
    <v-component :is="layout"></v-component>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>
import DefaultLayout from "./layouts/default";
import AdminLayout from "./layouts/admin";

export default {
  name: "App",

  components: {
    default: DefaultLayout,
    admin: AdminLayout,
  },

  data: () => ({}),
  computed: {
    layout() {
      return this.$store.getters.layout;
    },
  },
};
</script>

<style>
.logo-text {
  text-decoration: none;
}
.v-application a.logo-text {
  color: #fff;
}
span.strike-through {
  text-decoration: line-through;
}
</style>
