<template>
  <v-app-bar color="#232f3e" app dark>
    <div class="d-flex align-center">
      <router-link class="logo-text" to="/admin/dashboard">
        <h3>Product X - Admin</h3>
      </router-link>
    </div>
    <v-spacer></v-spacer>
    <v-btn icon @click="logOut">
      <v-icon>mdi-logout</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import AdminApi from "../api/admin";

export default {
  methods: {
    logOut() {
      AdminApi.post(
        "/logout",
        {},
        {
          headers: {
            Authorization: `Bearer ${this.$store.getters.adminToken}`,
          },
        }
      )
        .then((response) => {
          this.$store.commit("RESET_ADMIN");
          this.$router.push("/admin/login");
        })
        .catch((error) => {
          this.$store.commit("RESET_ADMIN");
          this.$router.push("/admin/login");
        });
    },
  },
};
</script>
