<template>
  <v-app-bar color="#232f3e" app dark>
    <div class="d-flex align-center">
      <router-link class="logo-text" to="/">
        <h3>Product X</h3>
      </router-link>
    </div>
    <v-spacer></v-spacer>

    <router-link to="/cart">
      <v-badge :content="cartCount" :value="cartCount" color="orange" overlap>
        <v-icon large>mdi-cart-outline</v-icon>
      </v-badge>
    </router-link>
  </v-app-bar>
</template>

<script>
export default {
  computed: {
    cartCount() {
      return this.$store.getters.cartCount;
    },
  },
};
</script>
